<!DOCTYPE html>
<html lang="en">
    
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
            <script src="./js/theme.js" defer></script>
           

        </head>
        <title>QUART MARKET</title>
  
    </head>
    <body>
    
       
        <br>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8">
        <h1>ABOUT US</h1> 
        
        <br> 
        <br> 
    
        <p> 
            
            Quart is a neighborhood store.

            We are small enough to get to know our customers, but we are also big enough to offer quality assortments at competitive prices. Customer satisfaction comes first, and offering daily products is our priority. We employ high-quality and professional staff who provide good service to our customers in the best way every day.
            
            By listening to the needs of our customers, with teamwork and a positive atmosphere, we want to create the most pleasant shopping experience possible.
        </p> 
               
            <br>
            <br>
            <br>
            <br>
            
        <h2 style="color: aliceblue;">You can pay with</h2>
       
        <br>
                
               <table class="table table-hover" style="color: aliceblue;">
                  <tbody>
                  <tr>
                      <th >Visa</th>
                      <th ><img src=".\images\visa.png" height="20" width="30" alt="visa"></th>
                  </tr>
                  <tr>
                      <th>Mastercard</th>
                      <th><img src=".\images\mastercard.png" height="20" width="30" alt="mastercard"></th>
                  </tr>
                  <tr>
                      <th >Amex</th>
                      <th><img src=".\images\amex.png" height="20" width="30" alt="amex"></th>
                  </tr>
                  <tr>
                      <th >Maestro</th>
                      <th><img src=".\images\maestro.png" height="20" width="30" alt="maestro"> </th>
      
                  </tr>
                   <tr>
                      <th >Cash</th>
                      <th><img src=".\images\cash.png" height="20" width="30" alt="cash"></th>
                   </tr>
                </tbody>
               </table>
            </div>
             

<br>
<div class="col-lg-4 text-center">
    <div id="myCarousel" class="carousel slide" >
      
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" ></button>
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
    
        
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src=".\images\imgquart1.jpg"  alt="Quart image 1">
          </div>
    
          <div class="carousel-item">
            <img src=".\images\imgquart2.jpg" alt="Quart image 2">
          </div>
    
          <div class="carousel-item">
            <img src=".\images\imgquart3.jpg" alt="Quart image 2">
          </div>
        </div>
    
   
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon"></span>
          
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" ></span>
        
        </button> 
      </div>
    

</div>

    </div>
</div>


<div class="alert alert-info alert-dismissible fade show" role="alert">
    <strong>Is something unclear?</strong> You can always reach out to us at <b>quartmarket@gmail.com</b>
    <button type="button" class="btn-close" data-bs-dismiss="alert" ></button>
  </div>

 

        </body>
</html>